page-result {
    .display-img {
        background-image: url(https://source.unsplash.com/category/nature/);
        background-color: lightgray;
        background-size: cover;
    }
    .weather-detail{
        color: #4c4c4c;
    }

}
