page-home {
    .display-img {
        background-image: url(https://source.unsplash.com/category/nature/);
        background-color: lightgray;
        background-size: cover;
    }
    .text-center {
        text-align: center;
    }
    .logo-app {
        
        color: #e29677;
    }
}
